*{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Playfair Display', sans-serif;
  background-color: rgb(42, 42, 42);
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  height: 5rem;
}

header h1{
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display SC', sans-serif;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header li{
  padding: 0 8rem 0 0;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}

header li a{
  text-decoration: none;
  color: black;
}

header li a:hover{
  color: aliceblue;
  transition: 0.3s;
}

.main-background-pic{
  width: 100%;
  height: 39rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/douglas-bagg-n6fIdqzIwD4-unsplash.jpg);
}

.main-info-cards{
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-card{
  height: 12rem;
  flex: 0 1 40%;
  position: relative;
  margin: 25px auto;
  background-color: rgb(42, 42, 42);
  color: aliceblue;
}

.main-card h2{
  text-align: center;
}

.main-card p{
  text-align: center;
  padding: 1rem;
}
